@model CuentasXPagar1.Models.Transaccione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaccione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuxiliarId" class="control-label"></label>
                <input asp-for="AuxiliarId" class="form-control" />
                <span asp-validation-for="AuxiliarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentasDb" class="control-label"></label>
                <input asp-for="CuentasDb" class="form-control" />
                <span asp-validation-for="CuentasDb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaCr" class="control-label"></label>
                <input asp-for="CuentaCr" class="form-control" />
                <span asp-validation-for="CuentaCr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTransaccion" class="control-label"></label>
                <input asp-for="FechaTransaccion" class="form-control" />
                <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none !important">
                <label asp-for="AsientoId" class="control-label"></label>
                <input asp-for="AsientoId" class="form-control" />
                <span asp-validation-for="AsientoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
